h1 {
  font-family: 'Rock Salt', cursive;
  font-size: 40px;
  color: white;
}

.overlay {
  position:absolute;
  display:none; 

  /* color with alpha transparency */
  background-color: rgba(0, 0, 0, 0.7);

  /* stretch to screen edges */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.popup {
  position: absolute;
  width: 600px;
  height: 250px;
  display: none;
  background-color: rgba(255,255,255,0.8);
  text-align: center;
  border-radius: 10px 10px 10px 10px;
  padding: 25px;

  font-family: helvetica;
  font-size: 18px;

  /* center it ? */
  top: 50%;
  left: 50%;
  margin-left: -320px;
  margin-top: -125px;
}

body {
  margin-top: 3%;
  text-align: center;
  background-image: url("Pictures/nwtsbackground.png");
  background-size: cover;
}

#board {
  background-size: cover;
  border-radius: 20px;
  height: 500px;
  width: 1100px;
  margin: 0 auto;
  padding-top: 10px;
}

table {
  width: 1100px;
  height: 500px;
}

.imgopacity {
  height: 120px;
}

.imgopacity:hover {
  opacity:0.7;
  filter:alpha(opacity=70); /* For IE8 and earlier */
}

.twitter-share-button {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.hint {
  font-family: 'Rock Salt', cursive;
  font-size: 20px;
  text-decoration: none;
  color: white;
  position: fixed;
  left: 25px;
  bottom: 10px;
}

/*@media (max-width: 900px) {

  #board {
    width: 700px;
    height: 428px;
  }

  table {
    width: 700px;
    height: 428px;
  }

}*/
