body {
  margin-top: 3%;
  text-align: center;
  background-image: url("Pictures/nwtsbackground.png");
  background-attachment: fixed;
}

h1 {
  font-family: 'Rock Salt', cursive;
  font-size: 40px;
  color: white;
  margin-top: 5%;
}

.overlay {
  position:absolute;
  display:none; 

  background-color: rgba(0, 0, 0, 0.7);

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
}
.popup {
  position: absolute;
  width: 600px;
  height: 400px;
  display: none;
  background-color: rgba(255,255,255,0.8);
  text-align: center;
  border-radius: 10px 10px 10px 10px;
  padding: 25px;

  font-family: palatino;
  font-size: 18px;

  top: 40%;
  left: 50%;
  margin-left: -320px;
  margin-top: -125px;
  z-index: 4;
}

.buffer-top {
  padding-top: 30px;
  padding-bottom: 180px;
}

.buffer-middle {
  padding-bottom: 180px;
}

.imgopacity {
  height: 120px;
}

.imgopacity:hover, .imgopacity.hover_effect {
  opacity:0.7;
  filter:alpha(opacity=70); /* For IE8 and earlier */
  cursor: pointer;
}

.twitter-share-button {
  position: fixed;
  left: 10px;
  bottom: 10px;
}

.fb {
  position: fixed;
  left: 105px;
  bottom: 10px;
}

.hint {
  font-family: 'Rock Salt', cursive;
  font-size: 20px;
  text-decoration: none;
  color: white;
  position: fixed;
  right: 25px;
  bottom: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 991px) {
  .overlay {
    cursor: pointer;
  }
  .popup {
    cursor: pointer;
  }
}
