h1 {
  font-family: 'Rock Salt', cursive;
  font-size: 40px;
  color: white;
  margin-top: 5%;
}

.overlay {
  position:absolute;
  display:none; 

  /* color with alpha transparency */
  background-color: rgba(0, 0, 0, 0.7);

  /* stretch to screen edges */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
}
.popup {
  position: absolute;
  width: 600px;
  height: 400px;
  display: none;
  background-color: rgba(255,255,255,0.8);
  text-align: center;
  border-radius: 10px 10px 10px 10px;
  padding: 25px;

  font-family: palatino;
  font-size: 18px;

  /* center it ? */
  top: 40%;
  left: 50%;
  margin-left: -320px;
  margin-top: -125px;
  z-index: 4;
}

body {
  margin-top: 3%;
  text-align: center;
  background-image: url("Pictures/nwtsbackground.png");
  background-size: cover;
  background-attachment: fixed;
}

.top-buffer {
  padding-top: 30px;
  margin-bottom: 150px;
}

.imgopacity {
  height: 120px;
}

.imgopacity:hover {
  opacity:0.7;
  filter:alpha(opacity=70); /* For IE8 and earlier */
}

.twitter-share-button {
  position: fixed;
  left: 10px;
  bottom: 10px;
}

.fb {
  position: fixed;
  left: 105px;
  bottom: 10px;
}

.hint {
  font-family: 'Rock Salt', cursive;
  font-size: 20px;
  text-decoration: none;
  color: white;
  position: fixed;
  right: 25px;
  bottom: 10px;
}
